<div class='navBar'>
    <a href="/" class="navItems" >Home</a>
    <a href="/construction" class="navItems">Browse</a>
    <a href="/suggestions" class="navItems" >Suggestions</a>
    <a href="/construction" class="navItems">Cart</a>
    <a href="/construction" class="navItems">Contact Us</a>
    <a href="/links" class="navItems">Links</a>
</div>