<div>
    <a href="/">Home</a>
    <a href="/browse">Browse</a>
    <a href="/suggestions">Suggestions</a>
    <a href="/cart">Cart</a>
    <a href="/contact">Contact Us</a>
    <a href="/links">Links</a>
</div>