<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Browse</h1>
    <nav>
        <%- include('./partials/nav.ejs')%>
    </nav>
    <div>
        <ul>
            <% for(let i = 0; i < items.length; i++) {%> 
                <li>
                    <a href="/browse/<%=items[i]._id%>"><%=items[i].name %></a>
                    <button>Add to Cart</button>
                </li>
            <%}%>
        </ul>
    </div>
</body>
</html>