<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('./partials/head.ejs')%>
    <title>Document</title>
</head>
<body class="constructionBody">
    <nav>
        <%- include ('./partials/nav.ejs')%>
    </nav>
    <h1>Sorry! Page is Currently Under Construction!</h1>
</body>
</html>