<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('./partials/head.ejs') %>
    <title>Home</title>
</head>
<body>
    <h1>Home Page</h1>
    <nav>
        <div>
            <a href="/browse">Browse</a>
            <a href="/suggestions">Suggestions</a>
            <a href="/cart">Cart</a>
            <a href="/contact">Contact Us</a>
            <a href="/links">Links</a>
    </nav>
</body>
</html>