<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('./partials/head.ejs') %>
    <title>Home</title>
</head>
<body class="homeBody">
    <nav>
    <%- include ('./partials/nav.ejs')%>
    </nav>
    <div class="home_div">
    <h1>Welcome to Arts R Us!</h1>
    </div>
    <p id="home_pTop"><em>"A place every artist can call home"</em></p>

    <div class="home_mission">
        <h3 id="home_h3">Our Mission:</h3>
            <p id="home_missionP">Our mission is to create a free and universally available place for artists to display their art, and for any art enthusiast to purchase famous art pieces! We believe that art is vital to society, and also we can make money off of you by selling fake replicas! I mean the original art pieces! That's what we meant.</p>
    </div>
    <div class="home_promise">
        <h3 id="home_h3promise">Our Promise To You</h3>
            <p id="home_promiseP">We promise to give you fair prices on every single art piece that you come across on this website. Absolutely nothing is just copied and printed from the original, and in no way are any of these fake and we are just stealing credit from the original masterpieces. Any time you buy one of our art pieces on our site you will be getting the real and original piece ;)</p>
    </div>
    <div class="home_community">
        <h3 id="home_h3community">Community-Driven</h3>
            <p id="home_communityP">We are community driven. We take the suggestions that you post on here and we studiously look them over and decide whether or not to post them to our actual sales part of our website! If you post a suggestion, you can look for it in a couple days on the browse page! Maybe you will be able to buy the REAL and AUTHENTIC work of art that you suggested! Totally not fake!</p>
    </div>
</body>
</html>