<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('./partials/head.ejs')%>
    <title>Document</title>
</head>
<body class = "links_body">
    <nav>
        <%- include ('./partials/nav.ejs')%>
    </nav>
    <h1>Links</h1>
    <div class="links_wrapper">
        <div class="flex_links">
            <a href="#">Twitter</a>
        </div>
        <div class="flex_links">
            <a href="#">Instagram</a>
        </div>
        <div class="flex_links">
            <a href="#">FaceBook</a>
        </div>
        <div class="flex_links">
            <a href="#">SnapChat</a>
        </div>
        
    </div>
</body>
</html>