
#sug_nameOfItem {
    font-size: 1.5em;
}

.sug_divs {
    border: 1px solid black;
    border-radius: 1em;
    margin: 1.3em;
}

.navBar {
    background-color: blue;
    top: 0%;
    padding: 2em;
    text-align: center;
}

body {
    padding-top: 0;
    margin: 0;   
    margin-right: 0;
}

.navItems {
    
    padding-bottom: 0;
    font-size: 1em;
    color: white;
    padding: 2em;
    text-align: center;
}

.sug_div {
    margin-left: 1em;
}

.sug_h1 {
    margin-left: 1em;
    text-align: center;
    font-size: 3em;
}

.sug_ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.sug_h3 {
    text-align: center;
    font-size: 2em;
}

.sug_li {
    padding: 2em;
    padding-bottom: .4em;
    
}

.sug_li a {
    text-decoration: none;
    
}

.sug_delete {
    font-size: .6em;
    margin-bottom: 0;
    margin-right: 0;
}

.sug_img {
    width: 10em;
    height: 10em;
}

.sug_p {
    padding: 2em;
    text-align: center;
    font-size: 1.5em;
}

#sug_h3 {
    text-align: center;
    font-size: 1.3em;
}

.sugEdit_div {
    margin: 2em;
    font-size: 1.3em;
}

.sugEdit_input {
    margin: 1em;
}

/* NEW SUGGESTIONS PAGE */
.sugNew_h1 {
    text-align: center;
}

.sugNew_div {
    margin: 2em;
    font-size: 1.3em;
}

#sugInput {
    margin-top: 2.5em;
}

.sugNew_inputs {
    margin: 1.5em;
}

#sugSubmit {
    padding: 1.3em;
    font-size: .8em;
}

/* SHOW SUGGESTIONS PAGE */
.sugShow_div {
    padding: 2em;
    text-align: center;
}

.sugShow_h4 {
    margin-left: 2em;
}

#sugShow_description {
    margin-left: 10em;
    margin-right: 10em;
    border: 2px solid black;
    border-radius: 1em;
    padding: 1em;
}

.sugShow_img {
    border: 1px solid black;
    border-radius: 1em;
    padding: 1em;
    margin-left: 18em;
    margin-right: 18em;
}

.show_img {
    height: 20em;
    width: 20em;
}

/* HOME PAGE  */

.home_div {
    text-align: center;
    border: 2px solid black;
    border-radius: 1em;
    margin-right: 15em;
    margin-left: 15em;
    margin-top: 1em;
}

.homeBody {
    text-align: center;
}

#home_pTop {
    font-size: 1.4em;
}

.home_mission {
    margin-left: 10em;
    margin-right: 10em;
    border: 2px solid black;
    border-radius: 1em;
    background-color: #6d6875;
    color: white;
}

#home_h3 {
    font-size: 2em;
    text-decoration: underline;
}

#home_missionP {
    font-size: 1.4em;
}

.home_promise {
    margin-left: 10em;
    margin-right: 10em;
    border: 2px solid black;
    border-radius: 1em;
    background-color: #6d6875;
    color: white;
    margin-top: 3em;
}

#home_h3promise {
    font-size: 2em;
    text-decoration: underline;
}

#home_promiseP {
    font-size: 1.4em;
}

.home_community {
    margin-left: 10em;
    margin-right: 10em;
    border: 2px solid black;
    border-radius: 1em;
    background-color: #6d6875;
    color: white;
    margin-top: 3em;
}

#home_h3community {
    font-size: 2em;
    text-decoration: underline;
}

#home_communityP {
    font-size: 1.4em;
}

/* LINKS PAGE */

.links_body {
    text-align: center;
}

.links_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex_links {
    margin: 1.5em;
    border: 2px solid black;
    border-radius: .5em;
    padding: 1em;
    background-color: #6d6875;
    
}

.flex_links a {
    color: white;
    text-decoration: none;
}

.flex_links:hover {
    background-color: #a98467
}